<h1 class="mt-4">Order</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ order.id ? 'Edit' : 'Create'}}</li>
</ol>
<div class="container">
    <form #productForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Order created/updated successfully!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{erro}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" [ngModel]="order.id" name="id" disabled="true" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Description:</label>
                    <input type="text" class="form-control" [(ngModel)]="order.description" name="name" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Products:</label>
                    <div class="col-md-12">
                        <table mat-table [dataSource]="dataSource" class="table table-condensed table-hover">

                            <ng-container matColumnDef="id" hidden="true">
                                <th mat-header-cell *matHeaderCellDef> ID </th>
                                <td mat-cell *matCellDef="let product"> {{product.id}} </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let product"> {{product.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="category">
                                <th mat-header-cell *matHeaderCellDef> Category </th>
                                <td mat-cell *matCellDef="let product"> {{product.category.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="quantity">
                                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                                <td mat-cell *matCellDef="let product"> {{product.category.name}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <!-- 
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="totalLength" [pageSize]="pageSize"
                            showFirstLastButtons (page)="onPageChange($event)">
                        </mat-paginator> -->
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row ">
            <div class="col-md-12">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-plus"></i> Add
                            </button>

                            <button type="submit" class="btn btn-secondary">
                                <i class="fa fa-times"></i> Del
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Salve
                </button>
                <button type="button" class="btn btn-danger ml-1" (click)="rollbackOrdersList()">
                    <i class="fa fa-arrow-alt-circle-left"></i> Back
                </button>
            </div>
        </div>
    </form>
</div>