<mat-dialog-content>
  <div class="container">
    <div class="modal-header">
      <div class="row">
        <h2 class="mt-2">Order details: #{{ order.description }}</h2>
      </div>
    </div>
    <div class="modal-body">
      <table mat-table [dataSource]="order.products">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let produto">{{ produto.id }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Product </th>
          <td mat-cell *matCellDef="let produto">{{ produto.name }}</td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let produto">{{ produto.category }}</td>
        </ng-container>
        <ng-container matColumnDef="quantidade">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let produto">{{ produto.quantity }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name','category', 'quantidade']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'category', 'quantidade']"></tr>
      </table>
    </div>
    <div class="modal-footer">
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Close</button>
      </mat-dialog-actions>
    </div>
  </div>
</mat-dialog-content>