<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Find</li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click)="newCategory()">
                <i class="fa fa-plus"></i> Create
            </button>
        </div>
    </div>
    <br />    
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories">
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                            <button class="btn btn-primary" routerLink="/customers-form/{{ category.id }}">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger" (click)="readyCategory(category)"
                                    data-toggle="modal" 
                                    data-target="#modalDelte">
                                <i class="fa fa-trash"></i>
                            </button>                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="modalDelte" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmation</h4>
                </div>
                <div class="modal-body" *ngIf="categorySelected">
                    You agree to the deletion of the category <b>{{ categorySelected.name }}</b>?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deleteCustomer()" data-dismiss="modal">Confirma</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
