<h1 class="mt-4">Categories</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Find</li>
</ol>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                {{erro}}
            </div>                
        </div>
    </div> 
        
    <div class="row">
        <div class="col-md-2" *ngIf="!showErrorModal">
            <button class="btn btn-warning" (click)="newCategory()">
                <i class="fa fa-plus"></i> Create
            </button>
        </div>
    </div>
    <br />    

    <div class="row" *ngIf="!showErrorModal">
        <div class="col-md-12">
            <table mat-table [dataSource]="dataSource" class="table table-condensed table-hover">
        
                <ng-container matColumnDef="id" hidden="true">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let category"> {{category.id}} </td>
                </ng-container>
            
                <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let category"> {{category.name}} </td>
                </ng-container>

                <ng-container matColumnDef="edit" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td mat-cell *matCellDef="let category">
                        <button class="btn btn-primary" routerLink="/categories-form/{{ category.id }}">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-danger" (click)="readyCategory(category)"
                                data-toggle="modal" 
                                data-target="#modalDelte">
                            <i class="fa fa-trash"></i>
                        </button>                   
                    </td>
                </ng-container>            

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                [length]="totalLength"
                [pageSize]="pageSize" 
                showFirstLastButtons            
                (page)="onPageChange($event)">
            </mat-paginator>            
        </div>
    </div>
    <div id="modalDelte" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmation</h4>
                </div>
                <div class="modal-body" *ngIf="categorySelected">
                    You agree to the deletion of the category <b>{{ categorySelected.name }}</b>?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deleteCategory()" data-dismiss="modal">Confirma</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modalError" tabindex="-1" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Error</h4>
                </div>
                <div class="modal-body" *ngIf="showErrorModal">
                    <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                        {{erro}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
