<h1 class="mt-4">Home</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Welcome</li>    
</ol>


<div class="container">
    <div class="row" >
        <div class="col-md-12">
            <div class="form-group">
                <button type="button" class="btn btn-outline-info w-50 p-3">Categories</button>                
                <button type="button" class="btn btn-outline-info w-50 p-3">Products</button>
                <button type="button" class="btn btn-outline-info w-50 p-3">Orders</button>
            </div>
        </div>
    </div>

</div>